# Çache files
.eslintcache
.npm
*.tsbuildinfo

# Directories
dist/
dist-demo/
node_modules/
/coverage
/tmp

# Env files
.env
.env.test

# Logs
*.log
logs
npm-debug.log*

# Misc files
.DS_Store
notes/

#json
package-lock.json
yarn.lock
