/* Base Checkbox Element */
.task-list-item {
  list-style: none !important;
  position: relative;
  padding-left: 1.8rem !important; /* Width for Quadrat */
}

/* Draw leer Quadrat (unchecked) */
.task-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2rem; /* Center by the vertical */
  width: 1rem;
  height: 1rem;
  border: 2px solid #e2e8f0; /* Color for Rahmen */
  border-radius: 0.2rem;
  background-color: #fff;
  display: block;
}

/* Checked Item */
.task-list-item-checked::before {
  background-color: #60a5fa !important; /* Checked Color*/
  border-color: #60a5fa !important; 
}