@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Global reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #0f172a;
  transition: background-color 0.2s, color 0.2s;
}

/* when activate class .dark*/
html.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}

.no-inherit-font-size {
  font-size: revert;
}

#content {  
  width: 100%;
  padding-top: 10px;
}

/* ==========================================================================
   Library Light/Dark Theme Normalization
   ========================================================================== */

.dark {
  /* 1. Fonts and table borders */
  & table, & th, & td {
    color: #f1f5f9 !important;
    border-color: #334155 !important;
  }

  /* 2. Whole background (#1e293b) */
  /* for code blocks, stroke numbers and formuls */
  & .code-block-outer > div,
  & .code-block-outer > div > div {
    background-color: #1e293b !important;
  }
  
  /* background for png-images */
  & figure img {
    background-color: white !important;
  }

  img {
    background-color: white !important;
  }

  /* 3. Shuki tokens synchro */
  & .shiki span {
    color: var(--shiki-dark) !important;
  }
}